@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(albert-sans.woff2) format('woff2');
}
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(albert-sans.woff2) format('woff2');
}
